<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
        <bindings>
              <basicHttpBinding>
                    <binding name="BasicHttpBinding_IPeopleService" />
              </basicHttpBinding>
        </bindings>
        <client>
              <endpoint address="http://localhost:53314/PeopleService.svc"
                    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPeopleService"
                    contract="ServiceReference.IPeopleService" name="BasicHttpBinding_IPeopleService" />
        </client>
    </system.serviceModel>
</configuration>